doctype html

html
	head
		script(src='http://player.polyv.net/script/player.js')
		script(src='http://player.polyv.net/livescript/liveplayer.js')
		script(src='/backend/js/live.js')
		link(rel='stylesheet', href='/backend/css/live.css')
	
	body
		div(id='player', uid='#{uid}', vid='#{vid}')
