doctype html

html
	head 
		script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
		script(src="/backend/js/problem.js")
		link(rel='stylesheet', href='/backend/css/problem.css')

	body
		div !{content}
