doctype html

html
	head 
		script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js")
		script(src="/backend/js/problem.js")
		link(rel='stylesheet', href='/backend/css/problem.css')

	body
		div !{content}
